<launch>
    <!-- Source data -->
    <include file="$(find probabilistic_basics)/launch/basics.launch">
        <arg name="dataset2" value="false"/>
    </include>
    
    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab4_ekf)/config/custom.rviz" output="screen"/>
    
    <!-- Split & merge -->
    <include file="$(find lab2_splitandmerge)/launch/splitandmerge.launch"/>
    
    <!-- EKF node-->
    <node pkg="lab4_ekf" type="node.py" name="ekf" output="screen"/>
    
</launch>
