<launch>
    <!-- Source data -->
    <include file="$(find probabilistic_basics)/launch/basics.launch">
        <arg name="dataset2" value="false"/>
    </include>
    
    <!-- RViz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab3_particlefilter)/config/custom.rviz" output="screen"/>
    
    <!-- Split & Merge node-->
    <include file="$(find lab2_splitandmerge)/launch/splitandmerge.launch"/>
    
    <!-- Particle Filter node-->
    <node pkg="lab3_particlefilter" type="node.py" name="particle_filter" output="screen"/>
    
</launch>
