<launch>

    <!-- Arguments -->
    <arg name="rviz" default="true"/>
    <arg name="f" default="1.0"/>

    <!-- Source data -->
    <include file="$(find probabilistic_basics)/launch/basics.launch">
        <!-- Rosbag arguments -->
        <arg name="frequency" default="$(arg f)"/>
        <arg name="pause"     default="false"/>
      
        <!-- Source (only one true or none for real robot) -->
        <arg name="bagfile"   default="true"/>
        <arg name="simulator" default="false"/>
    
        <!-- Bagfile (only used if bagfile true) -->
        <arg name="dataset2" default="false"/>
     </include>
    
    <!-- Split & Merge node -->
    <include file="$(find lab2_splitandmerge)/launch/splitandmerge.launch"/>

    <!-- RViz -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find lab5_slam)/config/custom.rviz" output="screen"/>
    
    <!-- EKF node-->
    <node pkg="lab5_slam" type="node.py" name="ekf_slam" output="screen"/>
    
</launch>
